<div class="Create-doctor">
<div class="container-fluid">
  <div class="row">
    <div class=" text-dark text-center">
      <h3 class="text-center">Create Doctor</h3>
    </div>
  </div>
</div>  
  <div class="container">
    <div class="row">
      <div class=" justify-content-center align-items-center">
        <form >
          <div class="mb-2">
            <label for="">Name</label>
            <input name="name" [(ngModel)]="doctor.name" name="name" [value]="doctor.name" required="true" type="text" class="form-control" placeholder="Doctor name">
          </div>
          <div class="mb-2">
            <label for="">Specialization</label>
            <input name="field" [(ngModel)]="doctor.field" name="field" [value]="doctor.field" required="true" type="text" class="form-control" placeholder="Enter Field">
          </div>
          <div class="mb-2">
            <label for="">Age</label>
            <input name="age" [(ngModel)]="doctor.age" name="age" [value]="doctor.age" required="true" type="number" class="form-control" placeholder="Enter age">
          </div>
          <div class="mb-2">
            <label for="gender">Choose Gender</label>
            <select id="gender"[(ngModel)]="doctor.gender" [value]="doctor.gender" class="form-control" name="gender">
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="others">Others</option>
            </select>
          </div>
          <div class="text-bold text-center">
            <button type="submit" (click)="saveDoctor()" class="btn btn-outline-primary">Create</button>
          </div>

        </form>
     
     
    </div>
  </div>
</div>
</div>
<!-- <pre>{{doctor | json}}</pre> -->