.banner-text{
  position: absolute;
  top: 0;
  color: rgb(19, 10, 59);
  padding: 100px;
  
}

.banner-text {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 5px;
}

.footer{
  background-color:whitesmoke;
}